PORT=4000
NODE_ENV=development
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=your_postgres_password
DB_NAME=tuition_management_db
DATABASE_URL=postgres://postgres:your_postgres_password@localhost:5432/tuition_management_db
JWT_SECRET=tuition_management_jwt_super_secret_key_2026_x991823
JWT_EXPIRES_IN=7d
CORS_ORIGIN=http://localhost:3001,http://localhost:3002
